@-moz-keyframes anim {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(30px);
	}
	
	80% {
		-moz-transform: translateX(-10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}
@-o-keyframes anim {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(30px);
	}
	
	80% {
		-o-transform: translateX(-10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes anim {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}
@-webkit-keyframes anim /* Safari and Chrome */
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

input
{
	float: right;
}
input:focus
{
	outline:0;
	box-shadow: 0 0 10px 1px #fff;
}
.button
{
	background-color:#cdb408;
	text-indent:0px;
	display:inline-block;
	color:#000;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	height:35px;
	text-align:center;
	border:0px;
	box-shadow:0 0 10px 2px #fff;
}
.button:hover
{
	color:#ddd;
	background-color:#5d4408;
}
.button:active
{
	position:relative;
	top:1px;
	left:1px;
}
body
{
	overflow: hidden;
	background-color: #000;
}
form
{
	color:#fff;
	font-size: 20;
}
#base
{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
}
#base img.fade
{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:-10;
}
#userarea
{
	padding:20px;
	background-color: #000;
	display: box;
	opacity: 1;
	box-shadow: 0 0 20px 20px #000;
	position:relative;
	color:#fff;
	z-index:1;
	-webkit-animation-name: anim;
	-webkit-animation-duration: 1s;
}
#signup
{
	padding:20px;
	background-color: #000;
	display: box;
	opacity: 1;
	box-shadow: 0 0 20px 20px #000;
	position:fixed;
	top:0;
	color:#fff;
	z-index:1;
}
a
{
	text-decoration:none;
}